{% extends 'base.html' %}

{% block keywords %} products {% endblock %}
{% block title %} All Products {% endblock %}
{% block content %}

    <div class="container-fluid products-header">
        <div class="row">
            <div class="col-lg-7 col-12 productlist">
                <ul>
                    <li><a style="text-decoration: 2px solid white underline;" href="{% url 'allproduct' %}">All products</a></li>
                    <li><a href="{% url 'pendraw' %}">Pencil Drawings</a></li>
                    <li><a href="{% url 'picframe' %}">Picture Framing</a></li>
                    <li><a href="{% url 'giftbox' %}">Gift Boxes</a></li>
                    <li><a href="{% url 'greetcard' %}">Greeting Cards</a></li>
                </ul>
            </div>
            {% block productsearch %} {% include 'product_search.html' %} {% endblock %}
        </div>
    </div>

    <div class="container products-first">
        <h1>
            <span class="purple">All</span>
            <span class="orange">Products</span>
        </h1>

        <div class="row product-prices"  data-aos="flip-left">
            {% for item in prices %}
            <div class="col-6">
                <img src="{{ item.img.url }}" alt="">
            </div>
            {% endfor %}
        </div>

    </div>

    <div class="container-fluid secondblock">
        <div class="row allproducts">
            {% for item in allproducts %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 ">
                <div class="services">
                    <div class="write">
                        <img src="{{ item.img.url }}" alt="">
                        <h6 class="purple">
                            {{ item.category }}
                        </h6>
                    </div>
                    <div class="learnmore">
                        <a class="white" href="{% url 'prod_det' item.id %}">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block endnote %}
<p>
    <b>MONEY BACK GUARANTEE, ORDER NOW </b>
</p>
{% endblock %}