{% extends 'base.html' %}
{% load humanize %}

{% block keywords %} cart, order {% endblock %}
{% block title %} Cart {% endblock %}
{% block content %}

    <div class="container-fluid secondblock cart">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 ">
                <div class="services" data-aos="flip-left" style="text-align: center;">
                    <h3 class="purple">Enter new password</h3>

                    <p style="text-align: center;">
                        Please enter your new password twice so we can verify you typed it in correctly.
                    </p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }} <br>
                        <input style="outline: 0; border: 0;" class="learnmore subbot white" type="submit" name="Update Password" id="">
                    </form>
                </div>
            </div>           
        </div>
    </div>

{% endblock %}

{% block endnote %}
{% endblock %}